{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "markup",
                    "php",
                    "bash",
                    "jsx"
                ],
                "css": false
            }
        ]
    ]
}